@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #02061A;

}
.svg-first{
    position: absolute;
}
header{
    width: 100%;
    height: 126px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}
header h4{
    color: #FFF;
    text-align: center;
    font-family: Outfit, sans-serif;
    font-size: 27px;
    font-weight: 700;
    text-transform: capitalize;
    margin-right: 554px;
}
header ul{
    list-style-type: none;
    display: flex;
}
header ul li:nth-child(1){
    margin-right: 71px;
}
header ul li:nth-child(2){
    margin-right: 47px;
}
header ul li:nth-child(3){
    margin-right: 44px;
}
header ul li a{
    color: #FFF;
    text-align: center;
    font-family: Outfit, sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
    text-decoration: none;
}
main{
    margin-top: 170px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.descover{
    margin: 0 -40px 15px 0;
}
.first-main-text{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 0;
}
.first-main-text h2{
    width: 522px;
    height: 233px;
    color: #FFF;
    font-family: Outfit, sans-serif;
    font-size: 60px;
    font-weight: 700;
    text-transform: capitalize;
}
.first-main-text button:nth-child(1){
    width: 256px;
    height: 95px;
    border-radius: 50px;
    background: #23263C;
    color: #FFF;
    text-align: center;
    font-family: Outfit, sans-serif;
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    margin-right: 22px;
}
.first-main-text button:nth-child(2){
    width: 254px;
    height: 95px;
    border-radius: 50px;
    border: 3px solid #23263C;
    color: #FFF;
    text-align: center;
    font-family: Outfit, sans-serif;
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;
    background: none;
}
.buttons{
    margin-top: 31px;
}
.first-section{
    height: 100%;
    margin-top: 216px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 197px;
}
.first-section>div>p{
    width: 238px;
    height: 38px;
    color: #FFF;
    font-family: Outfit, sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 8px;
    text-align: left;
}
.main-table{
    width: 1065px;
}
.table{
    width: 1065px;
    height: 125px;
    border: 1px solid #5BD2BD;
    background: #23263C;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 138px;
}
.table p{
    color: #FFF;
    text-align: center;
    font-family: Outfit, sans-serif;
    font-size: 27px;
    font-weight: 700;
    text-transform: capitalize;
    opacity: 0.5;
}
.second-section{
    width: 100%;
    margin-bottom: 221px;
}
.second-section>div{
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightgrey;
    gap: 61px;
}
.second-section>div>.text-second-section>h2{
    color: #FFF;
    font-family: Outfit, sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 73px;
    width: 542px;
}
.second-section h3{
    color: #56CAB1;
    font-family: Outfit, sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 73px;
}
.second-section>div>.text-second-section>p{
    width: 521px;
    color: #4C99BB;
    font-family: Poppins, sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 31px; /* 119.231% */
}
.second-section h4{
    width: 418px;
    color: #FFF;
    font-family: Outfit, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.second-section svg{
   position: relative;
    top: 13px;
}
.second-section .buttons-sec button{
    width: 126px;
    height: 68px;
    border-radius: 16px;
    border: 1px solid #56CAB1;
    background: none;
    color: #FFF;
    font-family: Outfit, sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    position: relative;
    margin-bottom: 40px;
}
.background{
    position: absolute;
    right: 125px;
    top: 30px;
}
.table-second{
    width: 521px;
    height: 132px;
    border-radius: 18px;
    background: #3A5B6A;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 44px;
}
.table-second>div>h4{
    color: #FFF;
    font-family: Outfit, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    width: auto;
    margin-bottom: 18px;
}
.table-second>div>p{
    color: #FFF;
    font-family: Outfit, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.third-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 234px;
}
.carry-out{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 219px;
}
.carry-out>div>h2{
    color: #FFF;
    font-family: Outfit, sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.carry-out>div>button{
    width: 450px;
    height: 96px;
    border-radius: 100px;
    border: 3px solid rgba(84, 197, 173, 0.95);
    background: #1F143B;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    color: #56CAB1;
    font-family: Outfit, sans-serif;
    font-size: 50px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 58px;
}
.first-card{
    width: 375px;
    height: 507px;
    border-radius: 10px;
    background: rgba(137, 130, 130, 0.50);
    margin-bottom: 74px;
}

.first-card img{
    width: 375px;
}
.text-button{
    display: flex;
    gap: 25px;
    margin: 0 0 22px 30px;
}
.text-button p{
    color: #FFF;
    text-align: center;
    font-family: Outfit, sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.text-button span{
    color: #23263C;
    font-family: Outfit, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.text-button button{
    width: 147.461px;
    height: 51px;
    border-radius: 3px;
    border: 2px solid #000;
    background: #1F143B;
    color: #52A7C6;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #02061A;
    font-family: Outfit, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
}
.monkey-card-text{
    color: #56CAB1;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #02061A;
    font-family: Outfit, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin: 12px 0 15px 30px;
}
.second-card{
    position: absolute;
    width: 380.311px;
    height: 466.66px;
    z-index: -1;
    right: 233px;
    margin: 0 250px 206px 0;
    transform: rotate(-25.337deg);
}
.second-card .text-button button{
    display: none;
}
.second-card img{
    width: 380.121px;
    height: 323.047px;
}
.fourth-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.fourth-section>h3{
    color: #5BD2BF;
    font-family: Outfit, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase; margin-bottom: 4px;
}
.fourth-section>h1{
    color: #FFF;
    text-align: center;
    font-family: Outfit, sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 147px;
}
.cards-info{
    margin-bottom: 208px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}
.info{
    width: 345px;
    height: 360px;
    border-radius: 10px;
    background: #24293F;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}
.info h3{
    color: #FFF;
    text-align: center;
    font-family: Outfit, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 27px;
}
.info p{
    width: 302px;
    color: #FFF;
    text-align: center;
    font-family: Outfit, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.info img{
    position: absolute;
    border-radius: 50%;
    background: lightgray 50% / cover no-repeat;
    mix-blend-mode: luminosity;
    top:-75px;
}
.fifth-section{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 262px;
}
.big-card{
    width: 1063px;
    height: 378px;
    border-radius: 20px;
    background: linear-gradient(97deg, #1F143B -19.45%, #3C8273 103.56%);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.big-card p{
    color: #FFF;
    text-align: center;
    font-family: Outfit, sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 100% */
    margin-bottom: 39px;
}
.big-card button{
    width: 344px;
    height: 85px;
    border-radius: 50px;
    background: #000;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Outfit, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 150% */
    text-transform: uppercase;
}
.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-footer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 134px;
}
.main-footer h4{
    color: #FFF;
    font-family: Outfit, sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 19px;
}
.main-footer ul{
    color: #FFF;
    font-family: Outfit, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    list-style-type: none;
}
.main-footer ul li{
    margin-bottom: 22px;
}
.main-footer ul li a{
    color: #FFF;
    text-decoration: none;
}
.first-foot{
    margin-right: 126px;
}
.sec-foot{
    margin-right: 126px;
}
.third-foot{
    margin-right: 143px;
}
.fourth-foot{
    margin-right: 105px;
}
.first-foot{
    margin-bottom: 9px;
}
.last-line{
    height: 9px;
    width: 100%;
    border-radius: 20px;
    background: linear-gradient(97deg, #1F143B -19.45%, #3C8273 103.56%);
}
.fifth-foot form{
    width: 253px;
    height: 60px;
    border-radius: 50px;
    background: #3B7C70;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fifth-foot form input{
    color: black;
    opacity: 1;
    font-family: Outfit, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    background: none;
    border: none;
    width: 94px;
    margin-left: 25px;
}
.fifth-foot form input:nth-child(2){
    width: 100px;
    height: 58px;
    border-radius: 50px;
    background: #262E48;
    color: #FFF;
    font-family: Outfit, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    margin-left: 33px;
}










